<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12643284675-vqornao5hfrmgei90orijverplkir9bt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12643284675-vqornao5hfrmgei90orijverplkir9bt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>12643284675-p9rpntuccu0fpner06m6r9f9akr6nusc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDP9W5jezF3o3arXCEo2aFsJ9CXONqGMo0</string>
	<key>GCM_SENDER_ID</key>
	<string>12643284675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo.toDoList</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-98b4b</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-98b4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12643284675:ios:fe5c3aa1f22bff5a195476</string>
</dict>
</plist>